# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/.metadata/
/.project
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1/a08919862a5b001018ececc9b7d1e5e4
prueba/.metadata/.lock
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/11/60cc1323405b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/14/7003def42a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/16/905e5221465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/19/b0110cae3b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1b/e027cda5375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1c/505b0c78375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1c/b0c133ef3b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1c/f05920303b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1d/80260516465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/1d/a08a19d23c5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/20/10914187395b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/23/90b116d0435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/29/507e1e74425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/2a/70f418ef405b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/2b/1073761a355b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/2c/906defc13a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/2d/f01a15d3375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/2f/80379abd2a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/3/e04315862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/30/d0d1b85b475b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/31/808f18d9425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/31/f076bb10395b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/38/107b74e72a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/43/809c2cb1445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/46/00040114445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/46/10514f524b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/47/305a1d862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/47/701b1bf2415b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/47/80035484385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/4a/40baca95395b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/4b/d06bad30485b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/4e/704717b92a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/4e/90dce66d465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/50/50158e0f4b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/51/a0ab14e2425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/53/90f0f88a355b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/54/10b22533385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/56/607b4e7c435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/58/20970da7375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/59/90d72d27375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/5f/8020c3ca425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/6/80101411345b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/65/10ac750b395b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/65/703f5d9f385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/66/700fc28c435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/66/b092ad9a3b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/68/a0f6ac30485b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/69/903a9fd22a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/6d/70c97782385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7/c097e39d385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/71/407fee364b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/74/c0495566425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/75/b001ba22425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7a/8041ec1a445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7a/80934d843b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7c/102a18862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7c/a0f4b0c6375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7e/e06b3832385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7f/00d5d8e5415b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/7f/3036633f3b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/82/1074b782445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/83/50eeda8b445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/89/90074698465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/8e/a0caa15f2d5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/90/70304db02d5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/94/f0d74af3385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/96/7049d168465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a/b01d9dbd2a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a3/306c07554b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a4/7065b922425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a7/101f07c6425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a8/90072eb4425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/a8/b05d12862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/ac/a0f9a73f365b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/ad/50bb41163b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/af/d0e59cfc445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b0/201612c9375b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b0/c0805731435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b1/f091a6434b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b5/50120ff4385b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b5/50e413862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/b6/60831179445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/ba/60096aef3a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/bd/407a9a35465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/c/c0489eb73a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/c2/205302ab465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/c4/40a3e5d53b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/c5/20be9bbd2a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/c5/8048e894445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/cc/805510e73f5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d1/e0a3dcf42a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d2/00a134ab365b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d4/70a316862a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d5/00e59eb73a5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d7/707791ba425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/d8/70efc966405b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/e4/b0f21d5c3b5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/e7/d0a34698465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f/40f151f4445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f/e0a646a5445b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f2/4029f6eb435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f3/c0251493395b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f6/100a18ef405b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f6/30630416465b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f7/e03f11e73f5b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/f7/e041174a435b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.history/fb/408afc58425b001018ececc9b7d1e5e4
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/.indexes/af/history.index
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/.indexes/e4/b9/22/2f/history.index
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/.indexes/history.index
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/.indexes/properties.index
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/.markers
prueba/.metadata/.plugins/org.eclipse.core.resources/.projects/examen_1/org.eclipse.jdt.core/state.dat
prueba/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
prueba/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
prueba/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
prueba/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
prueba/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/Docker.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.launch.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
prueba/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
prueba/.metadata/.plugins/org.eclipse.debug.core/.launches/Files.launch
prueba/.metadata/.plugins/org.eclipse.debug.core/.launches/main.launch
prueba/.metadata/.plugins/org.eclipse.debug.core/.launches/Resolucion.launch
prueba/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
prueba/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
prueba/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
prueba/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
prueba/.metadata/.plugins/org.eclipse.jdt.core/115335256.index
prueba/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
prueba/.metadata/.plugins/org.eclipse.jdt.core/3047512550.index
prueba/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
prueba/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
prueba/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
prueba/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
prueba/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
prueba/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
prueba/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
prueba/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
prueba/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
prueba/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
prueba/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
prueba/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/examen_1/2025/7/28/refactorings.history
prueba/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/examen_1/2025/7/28/refactorings.index
prueba/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.m2e.core/archetypesInfo.xml
prueba/.metadata/.plugins/org.eclipse.m2e.core/examen_1.lifecyclemapping
prueba/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
prueba/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
prueba/.metadata/.plugins/org.eclipse.m2e.jdt/examen_1.container
prueba/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
prueba/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
prueba/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
prueba/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
prueba/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
prueba/.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
prueba/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
prueba/.metadata/version.ini
prueba/examen_1/.settings/org.eclipse.m2e.core.prefs
prueba/examen_1/.settings/org.eclipse.jdt.core.prefs
prueba/examen_1/.settings/org.eclipse.jdt.apt.core.prefs
